<!DOCTYPE html>
<html lang="en">
<head>
  <title>Restaurant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
  
  </style>
</head>
<body>
<h1>Order History</h1> 
<hr>
<% for(var i=0;i<orders.length;i++){%>
<div class="order">
<p>Order id: <%= orders[i].id %></p>
<p>Item Name: <%= orders[i].itemName %></p>
<p>Description: <%= orders[i].description %></p>
<p>Quantity: <%= orders[i].quantity %></p>
<p>Status: <%= orders[i].status %></p>
<% if(orders[i].status=="claimed"){%>
<a href="/cancelOrder/<%=orders[i].id%>">Cancel Claim</a>
<%}%>
<hr>
</div>
<%}%>
</body>
</html>
