<!DOCTYPE html>
<html lang="en">
<head>
  <title>Available Restaurants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('fav'); -%>  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
 
   <style>
        body{
    background-color: #00bf63;
}
    .banner {
      background-color: #00bf63; /* Canva-style green */
      min-height: 60vh;
      display: flex;
      align-items: center;
    }

    .brand-text {
      font-family: 'Pacifico', cursive;
      font-size: 7rem;
      color: white;
    }

    .action-btn {
      width: 150px;
      height: 50px;
      font-weight: bold;
      border-radius: 25px;
      font-size: 1.2rem;
    }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
        <a class="navbar-brand" href="/ngoHomepage">
            <img src="/images/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        </a>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#00bf63">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<hr style="color:#fff">
<div class="bg-light text-white text-center py-3 mt-0">
  <div class="container">
    <h1 class="mb-0" style="color:#00bf63">Restaurants Available</h1>
    
  </div>
</div>


<div class="text-center py-5 d-flex flex-column align-items-center" style="min-height: 80vh; background-color: #00bf63;">
  <div class="d-flex flex-column justify-content-center gap-4 mt-5">  
    <% for(var i=0;i<restaurants.length;i++){ %>
        <% if (restaurants[i].city==user.city){ %>
          
              <% for(var j=0;j<orders.length;j++){ %>
                <% if (restaurants[i].id==orders[j].restaurantid){ %>
                  <div class="bg-white p-4 rounded-4 shadow mx-auto" style="width: 100%;">
                  <h4 class="fw-bold" style="color:#00bf63">Order id: <br><%= orders[j].id %></h4>
                  <p>Item Name: <%= orders[j].itemName %></p>
                  <p>Description: <%= orders[j].description %></p>
                  <p>Quantity: <%= orders[j].quantity %></p>
                  <p>Status: <%= orders[j].status %></p>
                  <h2>Restaurant Details</h2>
                  <p>Restaurant Name: <%=restaurants[i].name%></p>
                  <p>Restaurant Contact: <%=restaurants[i].contact%></p>
                  <p>Restaurant Address:<%=restaurants[i].address%></p>
                  <p>Restaurant City:<%=restaurants[i].city%></p>
                  <% if(orders[j].status=="available"){%>
                  <a href="/acceptOrder/<%=orders[j].id%>" class="btn rounded-pill mt-3 px-4" style="background-color: #00bf63; color:#fff;">Accept</a>
                <%}%>
                </div>
              <%}%>  
           
          <%}%>
        <%}%>
    <%}%>
  </div>
</div>
</body>
<%- include('footer'); -%>
</html>
